data/Leis[[:space:]]de[[:space:]]Sorocaba[[:space:]](Clean).csv filter=lfs diff=lfs merge=lfs -text
data/Leis[[:space:]]de[[:space:]]Sorocaba[[:space:]](Raw).csv filter=lfs diff=lfs merge=lfs -text
data/Leis[[:space:]]de[[:space:]]Sorocaba.csv filter=lfs diff=lfs merge=lfs -text
